@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "经营类目管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles {
    @Styles.Render("~/content/css/module/category/manage.css")
}

@section scripts { 
    @Scripts.Render("~/content/js/module/category/manage.js")
}

@section current_page {
    <a><cite>经营类目</cite></a>
}

    <div class="layui-row my-container-padding">
        <h3 class="detail-module-title">类目管理</h3>

        <div class="layui-col-md12" style="">
            <!--主体 begin-->
            <button class="layui-btn up-all">全部收起</button>
            <button class="layui-btn down-all">全部展开</button>
            <button class="layui-btn layui-btn-danger" id="create">创建经营类目</button>

            <div class="test-tree-table" lay-filter="test1"></div>
            <!--主体 end-->
        </div>
    </div>