@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "财务交易流水";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section current_page {
    <a><cite>财务交易流水管理</cite></a>
}

@section styles {
    @Styles.Render("~/content/css/module/finance/index.css")
}

@section scripts {
    @Scripts.Render("~/content/js/module/finance/pay.js")

    <!-- 表格操作按钮集 -->
    <script type="text/html" id="barOption">
        <a name="item-view" class="layui-btn layui-btn layui-btn-xs" lay-event="detail">查看</a>
        <a name="item-edit" class="layui-btn layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
        <a name="item-remove" class="layui-btn layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script>
    <script>
        layui.use(['laydate'], function(){
            var laydate = layui.laydate;
            laydate.render({
                elem: "#date"
            });
            laydate.render({
                elem: "#date2"
            });
        });
    </script>
}

<div class="layui-row my-container-padding">
    <div class="layui-col-md12" style="">
        <!--面板-->
        <div class="layui-card">
            <div class="layui-card-header" style="font-weight: bold">统计面板</div>
            <div class="layui-card-body">
                <div class="layui-row">
                    <div class="layui-col-md3">
                        <div class="layui-row grid-demo">
                            <div class="layui-col-md3">
                                <div class="grid-demo grid-demo-bg1"><h3>财务公户</h3></div>
                            </div>
                            <div class="layui-col-md9">
                                <div class="grid-demo grid-demo-bg2"><h1 id="sys_username">Loading...</h1></div>
                            </div>
                            <div class="layui-col-md12">
                                <div class="grid-demo grid-demo-bg3">
                                    <i class="layui-icon layui-icon-rmb" style="font-size: 30px"></i>
                                    &nbsp;
                                    <span style="font-size: 40px;color:rgba(255,254,190,0.79)" id="sys_balance">Loading...</span>
                                    &nbsp;
                                    元
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md9">
                        <div class="layui-row grid-demo grid-demo-bg1">
                            <div class="layui-col-md12">
                                <div class="grid-demo">
                                    <h1>交易汇总账簿</h1>
                                </div>
                            </div>
                            <div class="layui-col-md6">
                                <div class="grid-demo grid-demo-bg2">
                                    <span>总收入：</span>
                                    &nbsp;
                                    <span style="font-size: 40px;color:rgba(255,254,190,0.79)" id="income-amount">Loading...</span>
                                    &nbsp;
                                    元
                                </div>
                            </div>
                            <div class="layui-col-md6">
                                <div class="grid-demo grid-demo-bg3">
                                    <span>总支出：</span>
                                    &nbsp;
                                    <span style="font-size: 40px;color:rgba(255,254,190,0.79)" id="expend-amount">Loading...</span>
                                    &nbsp;
                                    元
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--主体 begin-->
        <!-- 工具集 -->
        <div class="my-btn-box">
            <!--下拉列表-->
            <div class="layui-form">
                <!--交易类型 begin-->
                <div class="layui-inline">
                    <label class="layui-form-label">交易类型</label>
                </div>
                <div class="layui-inline">
                    <select name="trade_type" lay-verify="required">
                        <option value="">请选择一项条件</option>
                        <option value="0">全部</option>
                        <option value="6">充值</option>
                        <option value="7">提现</option>
                        <option value="8">扣费</option>
                        <option value="9">消费</option>
                    </select>
                </div>
                <!--交易类型 end-->
                <!--特殊过滤 begin-->
                <div class="layui-inline">
                    <label class="layui-form-label" style="margin-left: -20px; !important">特殊过滤</label>
                </div>
                <div class="layui-inline">
                    <select name="filter_type">
                        <option value="0">默认</option>
                        <option value="1">甲方 | 乙方 | 交易总额</option>
                    </select>
                </div>
                <!--特殊过滤 end-->
                <!--交易日 begin-->
                <div class="layui-inline">
                    <label class="layui-form-label">开始交易日</label>
                </div>
                <div class="layui-inline">
                    <input name="trade_date_begin" type="text" class="layui-input" id="date">
                </div>
                <!--交易日 end-->
                <!--交易日 begin-->
                <div class="layui-inline">
                    <label class="layui-form-label">截止交易日</label>
                </div>
                <div class="layui-inline">
                    <input name="trade_date_end" type="text" class="layui-input" id="date2">
                </div>
                <!--交易日 end-->

                <span class="fl layui-inline" style="margin-right: -20px;">
                    <a class="layui-btn btn-add btn-default" id="btn-refresh-my-data-table"><i class="layui-icon layui-icon-refresh"></i></a>
                </span>
                <span class="fr">
                    <span class="layui-form-label">搜索条件：</span>
                    <div class="layui-input-inline">
                        <input id="my-data-table-condition" type="text" autocomplete="off" placeholder="请输入搜索条件" class="layui-input">
                    </div>
                    <button id="my-data-table-query" class="layui-btn mgl-20">查询</button>
                </span>
            </div>

        </div>
        <!-- 表格 -->
        <div id="my-data-table" class="my-data-table" lay-filter="my-data-table"></div>
        <!--主体 end-->
    </div>
</div>
